<template name="uploadedFiles">
  {{#if uploadedFiles.count}}
    <ul>
      {{#each file in uploadedFiles.each}}
        <li>
         <!-- <a href="{{file.link}}?download=true" download="{{file.name}}">{{file.name}}</a> -->
          <a href="{{pathFor 'docShow'}}?id={{file._id}}">{{file.name}}</a>
        </li>        
        {{#each label in file.meta.labels}}
        	<span class="label label-default">{{label}}</span>
      	{{/each}}
      {{/each}}
    </ul>
  {{else}}
    <div>No files uploaded, yet</div>
  {{/if}}

  </template>