<template name="docShow">
<h1>Details of doc</h1>
	<h3>{{image.name}}</h3>	
	<button class="btn-danger" id="btnDeleteDoc">Delete document 
	</button>
	{{>deleteDocModal}}
	
	{{#each label in image.meta.labels}}
	<div class="record-container" data-record-id="{{@index}}">
		<h4><span class="label label-default" label-content="{{label}}">{{label}} <a href="{{pathFor 'docShow'}}?id={{image._id}}&action=remove&labelIndex={{@index}}"><button id="btnRemove" ><i class="glyphicon glyphicon-remove"></i></button></a></span></h4>
	  {{> EditableTextField dataKey=image._id dataValue=labelValue emptyText="edit" }}
	</div>
    <!--	<h4><span class="label label-default">{{label}} 
    	<button id="btnEdit"><i class="glyphicon glyphicon-edit"></i></button>
    	<button id="btnRemove"><i class="glyphicon glyphicon-remove"></i></button></span></h4> -->

    {{/each}}
    <div class="record-container" data-record-id="{{image.meta.labels.length}}">
		<h4><span class="label label-default hidden" label-content="{{label}}">
    		</span>
    	</h4>
    	 {{> EditableTextField dataKey=image._id dataValue=labelValue emptyText="add new label" }}
    </div>
    {{#if isImage}}
	<img class="detailImage" src="{{image.link}}" alt="{{image.name}}" width="500" />
	{{else}}
	<iframe src="http://docs.google.com/gview?url={{imageFile.link}}&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
	{{/if}}
	<div>
		{{#each text in image.meta.text}}
		<p>{{text}}</p>
		{{/each}}
	</div>

</template>

