<template name="searchBox">
	
        <div class="col-md-12 col-md" id="searchBox">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text" class="form-control" name="search" id="search-box" placeholder="#label(opt) @text(opt) title">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>
        </div>
    
</template>
